//Variables

//Colors
$pink-flamingo: rgb(255, 60, 255);
$background-black: rgb(26, 26, 26);
$card-dark-grey: rgb(37, 37, 37);
$purple: rgb(119, 46, 119);
$grey-text: rgb(179, 179, 179);
$purple-highlight: rgb(121, 100, 129);
