//Variables

//Colors
$pink-flamingo: rgb(255, 60, 255);
$spotify-green: #19b26b;
$card-dark-grey: rgba(37, 37, 37, 0.5);
$blue-tint: rgba(82, 46, 148, 1);
$purple: rgb(119, 46, 119);
$grey-text: rgb(179, 179, 179);
$purple-highlight: rgba(127, 97, 184, 1);
$login-background: linear-gradient(
  166deg,
  rgba(121, 100, 129, 1) 0%,
  rgba(127, 97, 184, 1) 50%,
  rgba(255, 60, 255, 1) 100%
);
