@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.button {
  button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    height: 50px;
  }

  .loginButtonItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 15px;

    .spotifyIcon {
      object-fit: cover;
      height: 100%;
      width: 54px;
      padding: 5px;
      border-radius: 50px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .login {
    background-color: #19b26b3d;
    border: 3px solid $spotify-green;
    height: 100%;
    border-radius: 50px;
    color: white;
  }

  .logout {
    background-color: transparent;
    color: $pink-flamingo;
    border: 2px solid $pink-flamingo;
    padding-right: 0;
  }
}
