@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $login-background;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
