@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.main {
  height: calc(100vh - 130px);
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px;
  padding: 10px 100px 30px 100px;
  color: white;
  grid-template-areas:
    "search summary "
    "playlist summary "
    "playlist summary ";
}

.playlist {
  // display: flex;
  height: 100%;
  grid-area: playlist;
  border-radius: 5px;
}

.player {
  grid-area: player;
}

.summary {
  grid-area: summary;
}

.search {
  grid-area: search;
  transition: all 0.3s ease-in-out;
}
