@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.modal {
  width: clamp(50%, 500px, 90%);
  height: min(50%, 400px);
  margin: auto;
  color: white;
  padding: 3.5rem 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;

  background-color: $card-dark-grey;

  h1 {
    font-size: 4em;
    line-height: 1;
  }

  h2 {
    font-size: 2em;
    color: $pink-flamingo;
    text-shadow: 0.04em 0.04em white;
  }

  p {
    color: $grey-text;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
}
