@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.navbar {
  color: $pink-flamingo;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 210px;
  height: 130px;

  .logo {
    font-size: 60px;
    text-decoration: underline;
    text-shadow: 0.04em 0.04em rgb(255, 173, 248);
  }

  .navItems {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    height: 100%;
    gap: 20px;

    p {
      font-size: 16px;
      padding-right: 20px;
    }

    .user {
      height: 50px;
      padding: 3px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      color: white;
      background-color: $card-dark-grey;
      img {
        object-fit: cover;
        height: 100%;
        width: 45px;
        border-radius: 50px;
      }
    }
    .spotify {
      object-fit: cover;
      height: 100%;
      width: 54px;
      border-radius: 50px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
