@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.navbar {
  color: $pink-flamingo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px clamp(1.5rem, 8vmax, 8rem);

  height: 140px;

  .logo {
    color: $white;
    font-size: clamp(1em, 4vw, 4em);
    text-decoration: underline;
    // text-shadow: 0.04em 0.04em rgb(233, 188, 253);
    span {
      font-size: clamp(1em, 4vw, 4em);

      color: $pink-flamingo;
      // margin-right: 5px;
      transform: scale(-1, 1) rotate(20deg);
      position: relative;
      bottom: -15px;
    }
  }

  .navItems {
    display: flex;
    align-items: center;
    // margin-bottom: 15px;
    height: 100%;
    gap: 20px;

    p {
      font-size: clamp(0.5em, 1.3vw, 1em);
      padding-right: 20px;
    }

    .user {
      height: 50px;
      padding: 3px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      color: white;
      background-color: $card-dark-grey;
      img {
        object-fit: cover;
        height: 100%;
        width: 45px;
        border-radius: 50px;
      }
    }
    .spotify {
      object-fit: cover;
      height: 100%;
      width: 54px;
      border-radius: 50px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
