@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.option {
  .heading {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 26px;
  }
}
