@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.playlist {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 0 15px 10px 15px;
  background-color: $card-dark-grey;
  // box-shadow: 2px 2px 5px $pink-flamingo;
  border-radius: 5px;

  // -ms-overflow-style: none; /* for Internet Explorer, Edge */
  // scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;

  &::-webkit-scrollbar {
    /* for Chrome, Safari, and Opera */
    width: 12px;

    background: transparent;
    border-radius: 5px;
  }

  // /* Track */
  // &::-webkit-scrollbar-track {
  //   // border: none;
  // }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $purple-highlight;
    border-radius: 3px;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
    border-radius: 5px;
    font-family: sans-serif;
    min-width: 400px;
    table-layout: fixed;

    table {
      border-collapse: separate;
    }
    tbody {
      color: $grey-text;
    }

    tbody:before {
      content: "@";
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }

    tr td:first-child {
      border-top-left-radius: 5px;
    }
    tr td:last-child {
      border-top-right-radius: 5px;
    }
    tr td:first-child {
      border-bottom-left-radius: 5px;
    }
    tr td:last-child {
      border-bottom-right-radius: 5px;
    }

    th {
      padding: 20px 0 15px 0;
      width: 40px;
      position: sticky;
      top: 0; /* Don't forget this, required for the stickiness */
      background-color: transparent;
    }

    thead tr {
      text-align: left;
      padding: 20px;
      border-bottom: 1px solid $purple;
    }

    .id,
    .tempo,
    .length,
    .energy {
      text-align: center;
    }

    .track {
      width: 300px;
    }

    .album {
      width: 200px;
    }
  }
}
