@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.item {
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: rgba(70, 70, 70, 0.438);
    color: white;
  }

  th,
  td {
    padding: 10px 0;
  }

  .artist {
    display: flex;
    align-items: center;
    height: 80px;
    padding-right: 10px;

    .artistImg {
      object-fit: cover;
      margin-right: 20px;
    }

    h1 {
      font-size: 18px;
      color: white;
    }
  }

  .id {
    text-align: center;
  }
  .tempo,
  .length,
  .energy,
  .remove {
    padding: 0;
    text-align: left;
  }

  .remove span {
    margin-top: 6px;
  }

  span {
    cursor: pointer;
  }
}
