@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.playlist {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: left;
  color: white;
  padding: 0 15px 10px 15px;
  background: $card-dark-grey;
  border-radius: 5px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 7px;

    background: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(70, 70, 70, 0.438);
    border-radius: 3px;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: clamp(0.5em, 1.2vw, 1em);
    border-radius: 5px;
    font-family: sans-serif;
    min-width: 400px;
    table-layout: fixed;

    table {
      border-collapse: separate;
    }
    tbody {
      color: $grey-text;
    }

    tbody:before {
      content: "@";
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }

    tr td:first-child {
      border-top-left-radius: 5px;
    }
    tr td:last-child {
      border-top-right-radius: 5px;
    }
    tr td:first-child {
      border-bottom-left-radius: 5px;
    }
    tr td:last-child {
      border-bottom-right-radius: 5px;
    }

    th {
      padding: 20px 10px 15px 0px;
      width: 50px;
      position: sticky;
      top: 0;
      background-color: $card-dark-grey;
      cursor: pointer;

      span:nth-of-type(2) {
        color: $grey-text;
      }
    }

    thead tr {
      text-align: left;
      padding: 20px;
      border-bottom: 1px solid $purple-highlight;
    }

    .id {
      text-align: center;
      padding-right: 0;
    }
    .tempo,
    .length,
    .energy {
      text-align: left;
    }

    .track {
      width: clamp(100px, 15vw, 300px);
    }

    .album {
      width: clamp(80px, 11vw, 300px);
    }
  }
}
