@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.search {
  padding: 25px;
  padding-top: 22px;
  width: 100%;
  background-color: $card-dark-grey;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  .searchBar {
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;

    input {
      &:required,
      &:invalid {
        box-shadow: none;
      }
      font-size: 22px;
      color: white;
      resize: none;
      background-color: transparent;
      border: none;
      outline: 0;
      margin-left: 15px;
      background: transparent;
      border-bottom: 1px solid $purple;
      transition: border-color 0.2s;
      transition: opacity 0.2s;

      &:focus {
        border-bottom: 1px solid $pink-flamingo;
        transition: border-color 0.2s;
        transition: opacity 0.2s;

        &::placeholder {
          transition: opacity 0.2s;
          opacity: 0;
        }
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $grey-text;
        opacity: 1; /* Firefox */
      }

      &:hover {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        border-bottom: 1px solid $pink-flamingo;
      }
    }
  }
}

.seeds {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
