@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.seed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #942e94;
  overflow: hidden;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #b439b4;
  }

  .imageContainer {
    width: 60px;
    height: 100%;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
    }

    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(135deg, #6b0493, #b836e0 40%, #ff4520);
      opacity: 0.6;
    }
  }

  p {
    font-size: clamp(0.6em, 1.1vw, 0.9em);
    flex-grow: 1;
    padding-left: 15px;
  }

  .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;

    span {
      cursor: pointer;
    }
  }
}
