@import "../base/fonts";
@import "../base/variables";
@import "../base/typography";

.summary {
  width: 100%;
  height: 100%;
  padding: 25px 25px;
  background-color: $card-dark-grey;
  // box-shadow: 2px 2px 5px $pink-flamingo;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: white;

  label {
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
}

.details {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  // box-shadow: 2px 2px 5px rgb(242, 255, 60);

  .playlistName,
  .playlistDescription {
    font-size: 18px;
    color: $grey-text;
  }

  .stats {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 45px;
    width: 100%;
  }

  .playlistName {
    flex-grow: 1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 0px;
    width: 100%;
    overflow: hidden;

    p {
      font-size: 14px;
    }
  }

  .playlistSave {
    grid-area: save;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
      cursor: pointer;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      padding: 5px 15px;
      font-weight: bold;
      background-color: $pink-flamingo;
      transition: all 0.15s ease-in-out;
      border: none;

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}

.options {
  width: 100%;

  // background-color: $card-dark-grey;
  // box-shadow: 2px 2px 5px rgb(242, 255, 60);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
