.button {
  button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
  }

  .login {
    background-color: rgb(255, 60, 255);
  }

  .logout {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 60, 255);
    border: 2px solid rgb(255, 60, 255);
  }
}
