.main {
  height: calc(100vh - 130px);
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px;
  background-color: rgb(36, 36, 36);
  padding: 20px 65px 30px 65px;
  color: white;
  grid-template-areas:
    "search player "
    "playlist summary "
    "playlist summary ";
}

.playlist {
  // display: flex;
  height: 100%;
  grid-area: playlist;
}

.player {
  grid-area: player;
}

.summary {
  grid-area: summary;
}

.search {
  grid-area: search;
  transition: all 0.3s ease-in-out;
}
