.playlist {
  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
    border-radius: 5px;
    font-family: sans-serif;
    min-width: 400px;
    table-layout: fixed;

    table {
      border-collapse: separate;
    }

    tbody:before {
      content: "@";
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }

    tr td:first-child {
      border-top-left-radius: 5px;
    }
    tr td:last-child {
      border-top-right-radius: 5px;
    }
    tr td:first-child {
      border-bottom-left-radius: 5px;
    }
    tr td:last-child {
      border-bottom-right-radius: 5px;
    }

    th {
      padding: 20px 0;
      width: 40px;
      position: sticky;
      top: 0; /* Don't forget this, required for the stickiness */
      background-color: rgb(69, 54, 70);
    }

    thead tr {
      text-align: left;
      padding: 20px;
      border-bottom: 1px solid rgb(121, 100, 129);
    }

    .id,
    .tempo,
    .length,
    .energy {
      text-align: center;
    }

    .track {
      width: 300px;
    }

    .album {
      width: 200px;
    }
  }
}
