.search {
  padding: 25px;
  background-color: rgb(69, 54, 70);
  flex-grow: 1;

  box-shadow: 2px 2px 5px rgb(255, 60, 255);
}

.seeds {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
}
