.seed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  width: 100%;
  border-radius: 5px;
  background-color: #7a0f6d;
  overflow: hidden;
  margin: 0px 0 0 0;
  transition: all 0.15s ease-in-out;

  &:hover {
    // transform: scale(1.01);
    // box-shadow: 1px 1px 10px #5595d4;
    background-color: #522e94;
  }

  .imageContainer {
    width: 80px;
    height: 100%;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
    }

    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(135deg, #6b0493, #b836e0 40%, #ff4520);
      opacity: 0.6;
    }
  }

  p {
    font-size: 15px;
    flex-grow: 1;
    padding-left: 15px;
  }

  .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;

    span {
      cursor: pointer;
    }
  }
}
